<!-- Default form login -->
<div class="container mt-5 bg-gradient-light">
<div class="row justify-content-center">
<div class="col-6">

<%= form_with( scope: :session, url: login_path, class: "shadow p-3 mb-3 mb-3 rounded text-center bg-light", local: true) do |f|%>

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <%=f.email_field :email, class: "form-control rounded mb-4", placeholder: "Email address" %>

    <!-- Password -->
    <%=f.password_field :password, class: "form-control rounded mb-4", placeholder: "Password" %>
    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <%= link_to  "Register", signup_path %>
    </p>
<%end%>
</div>
</div>
</div>