<div class="container mt-5">
<div class="row justify-content-center">
<div class="col-10">
<%=render 'shared/errors', obj:@user %>

<%= form_with(model: @user, class: "shadow p-3 mb-3 mb-3 rounded text-center bg-light", local: true) do |f|%>

    <p class="h4 mb-4"><%=obj%></p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <%=f.text_field :firstname, class: "form-control rounded", placeholder: "First Name" %>
        </div>
        <div class="col">
            <!-- Last name -->
            <%=f.text_field :lastname, class: "form-control rounded", placeholder: "Last Name" %>
        </div>
    </div>

    <!-- E-mail -->
    <%=f.email_field :email, class: "form-control rounded mb-4", placeholder: "Enter your email address" %>

   <!-- Username -->
    <%=f.text_field :username, class: "form-control rounded", placeholder: "Enter a username" %>
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        A unique username that identifies you
    </small>

    <!-- Password -->
    <%=f.password_field :password, class: "form-control rounded", placeholder: "Enter a strong password" %>
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters including minimum one Uppercase, one lower case, one numeric and one special char
    </small>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit"><%=obj%></button>


    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

<%end%>
</div>
</div>
</div>