<!-- Page Content -->
<section class="py-5">
<% if !logged_in? %>
  <div class="container" id="welcometext" >
    <h1>WordGame API Generator</h1>
    
    <p class="lead">Welcome to the WordGame API Generator. You can generate numerous APIs for your single account and use our API in your application for free!!</p>
    <h5> Click below to SignUp and Get started</h5>
    <%= link_to "Signup",signup_path,class:"btn btn-success btn-lg mt-2" %>
  </div>
<% else %>
  <div class="container" id="welcometext" >
    <h1>Welcome <%= current_user.firstname %> :)</h1>
    
    <p class="lead">Welcome to the WordGame API Generator. You can generate numerous APIs for your single account and use our API in your application for free!!</p>
    <h5> Click below to Check your API list or generate new API</h5>
    <p>
    <%= link_to "Check Your List",user_keylists_path(session[:user_id]),class:"btn btn-success btn-lg mt-2" %>
    <%= link_to "Generate new",generateKey_path(:email => current_user.email, :username => current_user.username, :password => session[:password]),class:"btn btn-success btn-lg mt-2" %>
    </p>
  </div>
  <%end%>
