<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center sh adow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          By <%=@user.firstname%>
        </div>
        <div class="card-body">

          <h5 class="card-title"><%=link_to "API Key",class: "text-success"%></h5>          
          <p class="card-text"><%= @val[:API_KEY].to_s %></p>
          <%=link_to "Save", generateKey_path(request.params.merge(:api => @val[:API_KEY],:id => @user.id)), class: "btn btn-outline-success mr-2", method: :post %>
          <%=link_to "Discard", dontgenerate_path, class: "btn btn-outline-danger ml-2", method: :post, data: {confirm: "Are you sure?"} %>

        </div>
    </div>
  </div>
</div>
