@import 'bootstrap/dist/css/bootstrap';

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: #c4c8cc;
  background: linear-gradient(to right, #1b0c6b, #5d06af);
}
#logo
{
  float: left;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
} 

.navbar{
  height: 60px;
  background: linear-gradient(to right, #100744, #5d06af);
  }

  #navelements
  {
    font-weight: 200;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #navbutton
  {
    font-weight: 200;
    color: white;
    border-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 0.7em;
    border-radius: 20px;
  }

  #welcometext
  {
    color: white;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }