<h1 class="text-center mt-4 rounded font-weight-lighter text-white">Keys Created By You</h1>

<div class="container">
<% @keylist.each_with_index do |keylist, index| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-2">
      <div class="card text-center shadow mb-3 bg-white rounded">
        <div class="card-header font-italic">
          By <%=keylist.user.firstname%>
        </div>

        <div class="card-body">

          <h5 class="card-title"><%=link_to "API Key "+(index+1).to_s, user_keylist_path(session[:user_id], keylist.id), class: "text-success"%></h5>
          <p class="card-text"><%=truncate(keylist.API_KEY, length: 10)+"..." %></p>
          <%=link_to "View", user_keylist_path(session[:user_id], keylist.id), class: "btn btn-outline-success"%>
          <%=link_to "Delete", user_keylist_path(session[:user_id], keylist.id), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
         <!-- <%=link_to "Copy", user_keylists_path(session[:user_id]), class: "btn btn-outline-info"%> -->

        </div>
        <div class="card-footer text-muted">
          <small>Used <%= keylist.count %> times</small><br/>
          <small>Created <%= time_ago_in_words(keylist.created_at) %> ago,
          Last Used <%= time_ago_in_words(keylist.updated_at) %> ago</small>
          
        </div>
      </div>
    </div>
  </div>
<%end%>
<div class="row justify-content-md-center">
  <div class="col-8 mb-5">
    <%= link_to "Generate API Key", generateKey_path(:email => session[:email], :username => session[:username], :password => session[:password]), class: "btn btn-outline-primary btn-block mt-2" %>
  </div>
</div>  
</div>