<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          By <%=@keylist.user.firstname%>
        </div>
        <div class="card-body">

          <h5 class="card-title"><%=link_to "API Key",class: "text-success"%></h5>
          <p class="card-text"><%= @keylist.API_KEY %></p>
          <%=link_to "Back", user_keylists_path(session[:user_id]), class: "btn btn-outline-success"%>
          <%=link_to "Delete", user_keylist_path(session[:user_id], @keylist.id), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <!--<%=link_to "Copy", user_keylists_path(session[:user_id]), class: "btn btn-outline-info" %> -->
        </div>

        <div class="card-footer text-muted">
          <small>Used <%= @keylist.count %> times</small><br/>
          <small>Created <%= time_ago_in_words(@keylist.created_at) %> ago,
          Last Used <%= time_ago_in_words(@keylist.updated_at) %> ago</small>

      </div>
    </div>
  </div>
</div>