<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%= link_to "WordGame API Generator", root_path, class: "navbar-brand ml-5 pl-2", id: "logo"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item active" id="navelements">
        <%= link_to "Home", root_path, class:"nav-link text-light" %>
        </li>
        <li class="nav-item active" id="navelements">
        <%= link_to "About", root_path, class:"nav-link text-light" %>
        </li>
        <li class="nav-item active" id="navelements">
        <%= link_to "Services", root_path, class:"nav-link text-light" %>
        </li>

        <% if !logged_in? %>

        <li class="nav-item active" id="navelements">
          <%= link_to "Register", signup_path, class:"nav-link text-light" %>
        </li>

          <li class="nav-item active" id="navelements" >
            <%= link_to "Login", login_path, class:"nav-link text-light" %>
          </li>

        <% else %>
        <li class="nav-item active" id="navelements">
          <%= link_to "Generate", generateKey_path(:email => current_user.email, :username => current_user.username, :password => session[:password]), class:"nav-link text-light"%>
        </li>

        <li class="nav-item active" id="navelements">
          <%= link_to "Edit Profile", edit_user_path(current_user.id), class:"nav-link text-light"%>
        </li>

        <li class="nav-item active" id="navelements">
          <%= link_to "Logout", logout_path, class:"nav-link text-light", method: :delete, data: {confirm: "Do you want to Logout?"} %>
        </li>
        <% end %>
        <li class="nav-item active" id="navelements" >
          <%= link_to "Contact Us", root_path, class:"nav-link text-light" %>
        </li>

        <li class="nav-item active" id="navelements">
        <%= link_to "Generate key",generateKey_path(:email => session[:email], :username => session[:username], :password => session[:password]), class: "btn btn-outline-primary btn-block", id: "navbutton text-light" %>
        </li>
      </ul>
    </div>

</nav>